body{
    margin: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

#chat{
    background-color: #CCCCCC;
    width: auto;
    left-margin: 0px;
    right-margin: 0px;
    overflow: hidden;
}

#prompt {
    height: 1em;
    color: #000000;
    margin: 3px;
}

#chat input{
    width: 100%;
    border: none;
    margin: 0px;
    background-color: #888888;
    color: #000000;
    margin-top: 3px;
    padding: 0.2em;
}

#history{
    padding: 0.2em;
}

#history .log{
    color: #888888;
}

#history .error{
    color: #DD0000;
}

#history .success{
    color: #00DD00;
}

#history .warning{
    color: #FFFF00;
}

#history .message{
    color: #FFFFFF;
}
